@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'General Sans', sans-serif;
}

html, body{
  
}

.clip-menu-items {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.clip-overlay{
  clip-path: polygon(0% 0%, 100% 0, 100% 0%, 0% 0%);
}

.menu-close-icon p {
  -webkit-text-stroke: 3px rgb(0 0 0 / 0.7);
}

.img-pos{
  object-position: 0% 75%;
}